
/* p{
    color: black;
} */.payContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
}

.payList {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adiciona margem entre os pedidos */
}

.orderName {
  margin-right: 10px; /* Adiciona espaço à direita do order.name */
}

.counterBtn {
  display: flex;
  align-items: center; /* Centraliza verticalmente o CounterBtn */
}

.Titulo{
    margin-top: 0;
}