.iconButton {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #f0f0f0;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .iconButton.selected {
    background-color: var(--laranja);
    color: var(--bege);

  }
