p{
    margin: 1rem;
    font-size: 1.2rem;
}


.containerCardapio{
    background-color:cadetblue;
    border-radius: 1rem;
    /* height: 25rem; */
    /* width: 20vw; */
    /* max-width: 90%; */
    margin: 1rem;
    /* padding: .5rem; */

}

.infosCardapio,
.imgCardapio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;

}

.container-two {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 80%;
    margin: 0 auto;
  }
  


.tools{
    color: black;
}

.cardapioBtn{
    margin: .5rem;
}

.text-img-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgCardapio {
    width: 15rem;
    height: 11rem;
    background-color: #f1f1f1;
}

.cardapioPreco{
    color: orange;
    background-color: black;
    font-weight: 900;
    border-radius: 2rem;
    padding: .2rem;
}


@media screen and (min-width: 790px) {
    /* .grande */
    .two {
        height: none;
    }

    .img-two {
        height: 5rem;
        width: 15rem;
        background-color: rgb(0, 245, 253);
        border-radius: 1rem;
    }

    .container-two{
        /* display: grid; */
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .containerCardapio{
        margin: 1rem 1rem;
        padding: .5rem;
        display: flex;
        justify-content:center;
        /* align-items: center; */
    }

}