p{
    margin: 1rem;
    font-size: 1.2rem;
}

ul.mainContainer {
    list-style: none;
    margin: 1rem; /* Remover a margem para zero */
    padding: 0; /* Remover o preenchimento para zero */

  }

.mainContainer{
    max-width: 100vw;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
    .containerItemsMenu img {
    max-width: 350px;
    margin-top: 1rem;
    border-radius: 1rem;
    margin: 1rem;

    }
    
    .containerDescriptionMenu {
    /* margin-bottom: 2rem; */
        /* max-width: 30vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* align-items: center; */
    /* gap: rem; */
    }

    

    @media (min-width: 768px) {
/*. grande */
    .containerItemsMenu {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Duas colunas */
        gap: 4rem; 
        
    }
    
    .containerItemsMenu img {
        max-width: 370px; /* Redefinir a largura da imagem para ocupar o espaço disponível */
        margin-right: 0;
        margin-top: 2rem;
        
    }
    
    .containerDescriptionMenu {
        max-width: none; /* Redefinir a largura máxima */
        width: 500px;
        /* height: 350px; */

    }
    }
    
