.BasePageContainer
{
    padding-top: 1rem;
    /* padding-bottom: 3rem; */
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.BasePageTitle {
    padding-top: 5rem;
    padding-left: 0;
    color: var(--verde-escuro);
}
.BasePageSubTitle {
    margin-top: 0;
}


@media screen and (min-width: 790px) {
    /* .grande */
    .BasePageContainer {
        justify-content: flex-start;
        height: none;
    }
    .BasePageTitle,
    .BasePageSubTitle {
        padding-left: 2rem;
    
    }
}